  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "@HillaryClinton But where are the emails?" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "@HillaryClinton But where are the emails?" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" href="images/favicon.jpg">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="Hillary Where are the emails?">
  <meta name="twitter:description" content="Every time Hillary tweets, you tweet back.
">
  <meta name="twitter:image:src" content="https://hillarywherearetheemails.com/images/hillary_screen.jpg">


  <meta property="og:title" content="Ask Hillary, where are the emails?">
  <meta property="og:site_name" content="Hillary Where are the emails?">
  <meta property="og:url" content="https://hillarywherearethemails.com">
  <meta property="og:description" content="Every time Hillary tweets, you tweet back.
">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://hillarywherearethemails.com/images/hillary_screen.jpg">
  </head>
  <body style="background-color: #337ab7">
      <%= render 'layouts/messages' %>
     <!-- Header -->
<header id="top" class="header" style="background-color: #fff">
    <div class="text-vertical-center shilled">
        <h1>@HillaryClinton But where are the emails?</h1>
        <br />
        <button onclick="window.location.href='/signin'" type="button" class="btn btn-primary btn-lg">Start Tweeting</button>
</header>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">How long did it take your staff of 823 people to think that up--and where are your 33,000 emails that you deleted? <a href="https://t.co/gECLNtQizQ">https://t.co/gECLNtQizQ</a></p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/741007091947556864">June 9, 2016</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <h3>Every time Hillary tweets, you tweet back.</h3>
                <br />
                <h4 style="color:#ddd">Hillary is a classic politician, and politicians need to be pressured to answer to citizens. So use your power to get the answer we're all looking for: Where are the emails? By clicking the Start Tweeting button and authorizing your Twitter account, you will automatically reply to shill Hillary's tweets with a simple question, "But where are the emails?" The application does nothing else, it won't read your tweets or post non-replies. Let your voice be heard.</h4>
                <span style="color:#ddd;"> To stop tweeting, go to <a style="color:#73baf7" href="https://twitter.com/settings/applications">your settings page</a> and revoke access to "hillarywherearetheemails".</span>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</aside>
  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79270221-1', 'auto');
  ga('send', 'pageview');

</script>
