  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "@realDonaldTrump Delete your account." %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "@realDonaldTrump delete your account" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" href="images/favicon.jpg">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="Trump Delete your account.">
  <meta name="twitter:description" content="Every time Trump tweets, you tweet back.
">
  <meta name="twitter:image:src" content="https://trumpdeleteyouraccount.com/images/trump_screen.jpg">


  <meta property="og:title" content="Ask Trump to delete his account">
  <meta property="og:site_name" content="Trump Delete your account">
  <meta property="og:url" content="https://trumpdeleteyouraccount.com">
  <meta property="og:description" content="Every time Trump tweets, you tweet back.
">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://trumpdeleteyouraccount.com/images/trump_screen.jpg">
  </head>
  <body style="background-color: #337ab7">
      <%= render 'layouts/messages' %>
      <header id="top" class="header" style="background-color: #fff">
    <div class="text-vertical-center trumped">
        <h1>@realDonaldTrump Delete your account.</h1>
        <br />
        <button onclick="window.location.href='/signin'" type="button" class="btn btn-primary btn-lg">Start Tweeting</button>
</header>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Delete your account. <a href="https://t.co/Oa92sncRQY">https://t.co/Oa92sncRQY</a></p>&mdash; Hillary Clinton (@HillaryClinton) <a href="https://twitter.com/HillaryClinton/status/740973710593654784">June 9, 2016</a></blockquote>
                <h3>Every time Trump tweets, you tweet back.</h3>
                <br />
                <h4 style="color:#ddd">Trump is a man of the people, he hears your collective voice. So use it to tell him to delete his Twitter account. By clicking the Start Tweeting button and authorizing your Twitter account, you will automatically reply to vile Trump tweets with a simple message, "Delete your account." The application does nothing else, it won't read your tweets or post non-replies. Let your voice be heard.</h4>
                <span style="color:#ddd;"> To stop tweeting, go to <a style="color:#73baf7" href="https://twitter.com/settings/applications">your settings page</a> and revoke access to "trumpdeleteyouraccount".</span>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</aside>
  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79270221-1', 'auto');
  ga('send', 'pageview');

</script>
